<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebsiteBaseUrl" value="https://www.charitywater.org"/>
    <add key="DonationPage" value="/donate/general"/>
    <add key="TheSpringPage" value="/donate/thespring"/>
    <add key="SponsorPage" value="/donate/sponsor"/>
    <add key="SolutionsPage" value="/projects/solutions"/>
    <add key="ProjectsPage" value="/projects"/>
    <add key="CountryInfoPage" value="/projects/countries/"/>
    <add key="VolunteerPage" value="/volunteer"/>
    
    <!--Unused-->
    <add key="WhyWaterPage" value="\whywater"/>
    <add key="OurWorkPage" value="\projects"/>
    <add key="ApproachPage" value="\projects\approach"/>
    <add key="PartnersPage" value="\projects\partners"/>
    <add key="AboutUsPage" value="\about"/>
  </appSettings>
</configuration>